
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme{
    --color-primary1:#FD6E0A;
    --color-secondary1:#181818;
    --color-thirdcolor47:#474747;
    --color-thirdcolor75:#757575;
    
}
body{
     font-family: "Open Sans", sans-serif;
     overflow-x: hidden !important;
     
    }
/* @media (max-width: 950px) {
  .slick-prev, .slick-next {
    display: none !important;
  }
  .slick-slide{
    width: 17% !important;

  }
} */

